<form method="post">
  {% csrf_token %}
  <div>
    <div class="algotrading-content">
      <p class="submain-text">CRIE O SEU ROBÔ ALGOTRADING</p>
    </div> 
    <div class="algotrading-content">
      <h2 class="essay">
        Os algoritmos de mercado financeiro (robô algotrading) oferecem praticidade e eficiência,  
        executando estratégias avançadas e processamento de dados em tempo real. 
        Eles eliminam fatores emocionais, minimizam riscos e otimizam retornos.
      </h2>
    </div>  
  </div>
  <div class="algotrading-content">
    <p class="subessay">Insira o nome e aperte "Iniciar" para solicitar o orçamento:</p>
  </div>   
  <div class="request">
    <div class="blank-box">
      <div class="request-label">
        <p>Robô: </p>
        <input type="text" name="algo_name" placeholder="Ex.: Cruzamento de médias" value="{{ algo_name }}">           
      </div>
      <div class="request-button">
        <button class="form-group-button" type="submit" name="submit">Iniciar</button> 
      </div>                   
    </div>  
  </div>
</form>
