<form method="post">

    {% csrf_token %}
    <div class="center">
      <p>Utilizar algoritmos no mercado de ações e futuros traz inúmeros benefícios aos investidores, como maior precisão e eficiência nas operações. Essas ferramentas possibilitam a execução de estratégias avançadas e processam grandes volumes de dados em tempo real, identificando oportunidades únicas. Os algoritmos eliminam fatores emocionais na tomada de decisões e promovem a diversificação da carteira, minimizando riscos e otimizando os retornos. Ao adotar algoritmos, os investidores garantem uma abordagem mais eficaz e bem-sucedida nas negociações.</p>
    </div>
    <div class="center">
      <p>Para começar digite o nome do robô e aperte o botão "Iniciar" abaixo</p>
    </div>      
</form>