<form id="name-form" method="post">
  {% csrf_token %}
  <div>
    <div class="algotrading-content">
      <p class="submain-text">CRIE O SEU ROBÔ ALGOTRADING</p>
    </div> 
    <div class="algotrading-content">
      <h2 class="essay">
        Os algoritmos de mercado financeiro (robô algotrading) oferecem praticidade e eficiência,  
        executando estratégias avançadas e processamento de dados em tempo real. 
        Eles eliminam fatores emocionais, minimizam riscos e otimizam retornos.
      </h2>
    </div>  
  </div>
  <div class="algotrading-content">
    <p class="subessay">Insira o nome e aperte "Iniciar" para solicitar o orçamento:</p>
  </div>   
  <div class="request">
    <div class="blank-box">
      <div class="request-label">
        <p>Robô: </p>
        <input type="text" name="algo_name" placeholder="Ex.: Cruzamento de médias" value="{{ algo_name }}">           
      </div>
      <div class="request-button">
        <button id="iniciar-btn" class="form-group-button" type="submit" name="submit">Iniciar</button> 
      </div>                   
    </div>  
  </div>
</form>

<script>
  $(document).ready(function() {
    function submitFormWithCounter(counter) {
      // Update the URL with the new counter value
      window.history.replaceState(null, null, `?counter=${counter}`);
      
      // Submit the form as a POST request
      $("#name-form").submit();
    }

    // Handle the next button click event
    $("#iniciar-btn").click(function() {
      const currentCounter = {{ counter }};
      const newCounter = currentCounter + 1;
      submitFormWithCounter(newCounter);
    });
    
  });
</script>

