{% extends 'global/base.html' %}
{% load static %}

{% block title %}
  {{ robot_name }}
{% endblock title %}

{% block content %}  
    <form id="algotrading-form" method="POST">      
      {% csrf_token %} 
      {% include partial_template %}      
      <div class="request">
        {% if counter > 0 and counter < num_templates %}
          <div class="center">
            <a href="?counter={{ counter|add:-1 }}"><button class="fa-solid fa-circle-chevron-left previous-button" type="button"></button></a>
            <a href="?counter={{ counter|add:1 }}"><button class="fa-solid fa-circle-chevron-right next-button" type="button"></button></a>  
          </div>
        {% endif %}     
        {% if counter == num_templates %}
          <div class="center">
            <a href="?counter={{ counter|add:-1 }}"><button class="fa-solid fa-circle-chevron-left previous-button" type="button"></button></a>                   
            <a href="?counter={{ counter|add:1 }}"><button class="form-group-button" type="button">Enviar</button></a> 
          </div>        
        {% endif %}      
      </div>     
    </form>  
{% endblock content %}
