{% extends 'global/base.html' %}
{% load static %}


{% block title %}{% endblock title %}

<div class="main-content container">
    {% block content %}
    <form method="post">

        {% csrf_token %}
        <div class="center">
          <p>Escolha a Plataforma que o robô irá ser utilizado:</p>
        </div>

        <div class="form-group center">
            <div class="form-group">            
            {{ form.platform }}
            </div>        
        </div>   

        <div class="form-group center">
            <button class="form-group-button" type="submit">Próximo</button>
        </div>

      </form>
    {% endblock content %}
</div>