{% extends 'global/base.html' %}
{% load static %}



{% block title %}{% endblock title %}

<div class="main-content container center">
    {% block content %}
        <div class="image-container">
            <h1 class="main-text">Automatizando de forma rápida e fácil suas estratégias para o mercado financeiro</h1>
            <h2 class="link-container">
                <a href="algotrading">Automatize a sua</a>
            </h2>
            <img src="{% static 'global/images/Chart-bw.jpg' %}" alt="Bckgrd">
        </div>
    {% endblock content %}
</div>

